force-app/main/default/flows/Tracker_Get_Absences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>504</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Tracker - Get Absences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Get Absences</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Absences</name>
        <label>Get Absences</label>
        <locationX>209</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>End</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>ResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strSRId</elementReference>
            </value>
        </filters>
        <object>ResourceAbsence</object>
        <outputReference>lstAbsences</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start</queriedFields>
        <queriedFields>End</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>AbsenceNumber</queriedFields>
        <sortField>Start</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>209</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Absences</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Tracker_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>strSRId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_SR</startElementReference>
    <status>Active</status>
    <variables>
        <name>lstAbsences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ResourceAbsence</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>strError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strSRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
