force-app/main/default/flows/Tracker_Get_Capacity_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>723</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Resource Not Found.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Capacity_Based</name>
        <label>Set Error Capacity Based</label>
        <locationX>809</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>strError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Service Resource is not capacity based.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Resource_Found</name>
        <label>Is Resource Found</label>
        <locationX>448</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Set_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_Not_Capacity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objSR.IsCapacityBased</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Capacity_Based</targetReference>
            </connector>
            <label>Resource Not Capacity</label>
        </rules>
        <rules>
            <name>Resource_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Capacity</targetReference>
            </connector>
            <label>Resource Found</label>
        </rules>
    </decisions>
    <interviewLabel>Tracker - Get {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tracker - Get Capacity Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Capacity</name>
        <label>Get Capacity</label>
        <locationX>239</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objSR.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>ServiceResourceCapacity</object>
        <outputReference>objCapacity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CapacityInHours</queriedFields>
        <queriedFields>CapacityInWorkItems</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>TimePeriod</queriedFields>
        <queriedFields>FSL__HoursInUse__c</queriedFields>
        <queriedFields>FSL__Work_Items_Allocated__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>243</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Resource_Found</targetReference>
        </connector>
        <filters>
            <field>Tracker_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objContact.Id</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>objSR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCapacityBased</queriedFields>
    </recordLookups>
    <startElementReference>Get_Service_Resource</startElementReference>
    <status>Active</status>
    <variables>
        <name>objCapacity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResourceCapacity</objectType>
    </variables>
    <variables>
        <name>objContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>objSR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>strError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
